.content{
	background:url('../images/login.jpg');
	background-size: cover;
	height: 600px;
}
.con_wrap{
	width: 420px;
	margin: 0 52%;
	padding-top: 226px;
	color: #b7b7b8;
}
.con_wrap h4{
	font-size: 44px;
	font-family: '方正兰亭超细黑简体';
	color: #b7b7b8;
	margin-left: 40px;
}
.con_wrap label{
	height: 30px;
	width: 100%;
	margin: 14px 0;
	width: 324px;
	display: inline-block;
}
.con_wrap label span{
	float: right;
	font-size: 14px;
}
.con_wrap input{
	height: 30px;
	width: 240px;
	outline: none;
	background-color: rgba(0,0,0,0);
	border:1px solid #b7b7b8;
	color: #b7b7b8;
	box-sizing: border-box;
	padding-left: 4px;
}
.con_wrap .input_btn{
	height:36px;
	width: 200px;
	color: #b7b7b8;
	margin-left: 96px;
	cursor: pointer;
}
.changepassword{
	color: #000;
	text-decoration: none;
}
.changepassword:hover{
	color: red;
}