/*
* @Author: Administrator
* @Date:   2017-07-31 21:38:32
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-08 22:09:09
*/
.hd .nav li:nth-child(4) a{
	color:red;
}
.content{
	width: 100%;
	height:920px;
	background: url('../images/pro05.jpg');
	background-size: 1375px 893px;
	position:relative;
	overflow: hidden;
	color:#fff;
}
.p-list{
	height:748px;
	width:1150px;
	margin-top: 95px;
	margin-left:100px;
	z-index:-2;
	
}
.p-list ul{
	width:1150px;
	overflow:hidden;
}
.p-list ul li{
	width:230px;
	height: 222px;
	float:left;
	margin:15px;
	border: 1px solid transparent;
	position:relative;
}
.p-list ul li img{
	width:230px;
	height: 222px;
}
.p-list .shade{
	width:230px;
	height: 222px;
	background:#4f4f4f;
	opacity: 0.4;
	position: absolute;
	bottom:0px;
	left:0px;
	display: none;
}
.p-list .shade p{
	position:absolute;
	left:15%;
	top:50%;
	text-align: center;
	color:#fff;
}
.content  .page{
	width:376px;
	height: 24px;
	margin-left: 30%;
}
.content  .page ul{
	width:630px;
	height: 48px;
}
.content  .page ul li{
	float:left;
	height: 48px;
	width:75px;
	margin:5px;
	text-align:center;
	line-height:48px;
}
.content .page a{
	padding: 2px 8px;	
	font-size: 17px;
	color:#333;
}
.content .page .red a {
    border:1px solid red;
}
.content .pd-list{
	position:absolute;
	height:870px;
	width:1150px;
	top: 15px;
	z-index: 1;
	left:100px;
	background:#4f4f4f;
	opacity:0.95;
	display:none;
}
.content .pd-list .close{
	position:absolute;
	top:0px;
	left:1111px;
	color:#fff;
	width:40px;
	height: 40px;
	font-size:25px;
	border:none;
	background:transparent;
	cursor: pointer;
}
.content .pd-list .pd-l{
	width:538px;
	height:576px;
	float:left;
	overflow:hidden;
	position:relative;
}
h5{
	font-size:17px;
	font-weight:normal;
}
.content .pd-list .pd-l .ul1{
	width:154px;
	height: 496px;
}
.content .pd-list .pd-l .pd-l-img{
	width:345px;
	height: 523px;
	position:absolute;
	right:5px;
	top:19px;

}
.content .pd-list .pd-l .ul1 li{
	margin:20px;
	width:155px;
	height: 159px;
	border: 1px solid transparent;

}
.content .pd-list .pd-l .ul1 li a{
	width:155px;
	height: 159px;
	
}
.content .pd-list .pd-l .ul1 a img{
	width:154px;
	height: 158px;
}
.content .pd-list .pd-r{
	width:567px;
	height:500px;
	float:left;
	margin-left:20px;
	margin-top:72px;
	line-height:37px;
}
.content .pd-list .pd-r ul{
	width:567px;
	height:40px;
	overflow:hidden;
} 
.content .pd-list .pd-r ul li{
	float:left;
	width:97px;
	height: 31px;
	margin-right:16px;
}
.content .pd-list .pd-r .btn-red button{
	border-color:red;
}
.content .pd-list .pd-r  button{
	background: #444;
	width:97px;
	height: 31px;
	outline: none;
	color:#fff;
	border:1px solid #fff;
	cursor:pointer;
}
.content .pd-list .pd-r .btn{
	background: #444;
	width:97px;
	height: 31px;
	color:#fff;
	border:1px solid #fff;
	position:absolute;
	left:-2px;
	outline: none;
	top:1px;
	cursor:pointer;
}
.content .pd-list .pd-r #color{
	background: #444;
	width:97px;
	height: 31px;
	color:#fff;
	border:1px solid #fff;
	outline:none;
	cursor:pointer;
}
.content .pd-list .pd-r span{
	width:22px;
	height: 6px;
	border:1px solid #fff;
}
.content .pd-list .pd-r .num{
	position:relative;
	width:200px;
	height: 100px;
}
.content .pd-list .pd-r .pd-r-img1{
	position:absolute;
	width:22px;
	height: 17px;
	left:82px;
	top:11px;
}
.content .pd-list .pd-r .pd-r-img2{
	position:absolute;
	width:22px;
	height: 17px;
	left:82px;
	top:25px;
}
.content .pd-list .pd-r .p1{
	font-weight: bold;
	color:red;
	font-size:22px;
}
.content .pd-list .pd-r input{
	width:143px;
	height: 46px;
	margin:10px ;
	font-size:18px;
	position:relative;
	left:80px;
	top:80px;
	outline: none;
	background:transparent;
	color:#fff;
	cursor:pointer;
	border:1px solid #fff;
}

.content .pd-list .pd-f{
	position:absolute;
	bottom:0px;
	width:1150px;
	height: 191px;
}

.content .pd-list .pd-f-l{
	width:400px;
	height: 166px;
	margin:80px 0px 0px 198px;
	float:left;
	
}
.content .pd-list .pd-f-l hr{
	transform:rotate(90deg);
}
.content .pd-list .pd-f-r{
	float:right;
}
.content .pd-list .pd-f-r ul{
	position:absolute;
	top:8px;
	left:303px;
	width:850px;

}
.content .pd-list .pd-f-r ul li{
	line-height: 37px;
	width:350px;
	float:left;
	margin-right:65px;
}

.ful{
	background-color:gray; 
	left:0; 
	opacity:0.5; 
	position:absolute; 
	top:0; 
	z-index:3; 
}